#appContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#djContainer {
    display: flex;
}

#audioContainer {
    display: flex;
    justify-content: center;
}

/*@media only screen and (max-width: 600px) {*/
    
/*}*/
